/02_getting_an_image_on_the_screen
/Accelerated C++ - Andrew Koenig & Barbara E. Moo.pdf
/Cplusplus_2011.pdf
/Programming__Principles_and_Practice_Using C++ (Cpp Cplusplus).pdf
/record
Week3_HangMan_Array_Algo_zoom.mp4
BTL/Tetris_Game/Tetris_Game.vcxproj
BTL/Tetris_Game/Tetris_Game.vcxproj.filters
BTL/Tetris_Game/.vs/Tetris_Game/FileContentIndex/3f9e2c65-77ac-4c86-b4d8-f3335fbe646d.vsidx
BTL/Tetris_Game/.vs/Tetris_Game/FileContentIndex/6d69feba-fe1b-444d-973f-47732dfc53f3.vsidx
BTL/Tetris_Game/.vs/Tetris_Game/FileContentIndex/9d9cbff3-bb6a-4d94-b870-91f116978d96.vsidx
BTL/Tetris_Game/.vs/Tetris_Game/FileContentIndex/85a81047-a6c5-4ee7-8aaa-5f0133378d1f.vsidx
BTL/Tetris_Game/.vs/Tetris_Game/FileContentIndex/a6192e19-3a65-4e94-83e2-030988b5566d.vsidx
BTL/Tetris_Game/.vs/Tetris_Game/FileContentIndex/d912df04-5159-4139-a77c-080f081edce8.vsidx
BTL/Tetris_Game/.vs/Tetris_Game/v17/.suo
BTL/Tetris_Game/.vs/Tetris_Game/v17/Browse.VC.db
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/4bd66db3fc3f2bb7/GAME.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/56282f387dc60253/BUTTON.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/5e8c990188890aab/INPUT.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/b43e040b28914d1/GAME.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/eb8e4091365e10e3/TETRIS_GAME.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/fa7dcb2161a5384f/RENDER.ipch
BTL/Tetris_Game/x64/Debug/Board.obj
BTL/Tetris_Game/x64/Debug/button.obj
BTL/Tetris_Game/x64/Debug/Game.obj
BTL/Tetris_Game/x64/Debug/input.obj
BTL/Tetris_Game/x64/Debug/Piece.obj
BTL/Tetris_Game/x64/Debug/render.obj
BTL/Tetris_Game/x64/Debug/SDL_utils.obj
BTL/Tetris_Game/x64/Debug/Tetris_Game.exe
BTL/Tetris_Game/x64/Debug/Tetris_Game.ilk
BTL/Tetris_Game/x64/Debug/Tetris_Game.log
BTL/Tetris_Game/x64/Debug/Tetris_Game.obj
BTL/Tetris_Game/x64/Debug/Tetris_Game.pdb
BTL/Tetris_Game/x64/Debug/texture.obj
BTL/Tetris_Game/x64/Debug/vc143.idb
BTL/Tetris_Game/x64/Debug/vc143.pdb
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.command.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.read.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.write.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/link.read.1.tlog
BTL/Tetris_Game/x64/Release/Board.obj
BTL/Tetris_Game/x64/Release/Game.obj
BTL/Tetris_Game/x64/Release/input.obj
BTL/Tetris_Game/x64/Release/libjpeg-9.dll
BTL/Tetris_Game/x64/Release/libpng16-16.dll
BTL/Tetris_Game/x64/Release/libtiff-5.dll
BTL/Tetris_Game/x64/Release/libwebp-7.dll
BTL/Tetris_Game/x64/Release/Piece.obj
BTL/Tetris_Game/x64/Release/render.obj
BTL/Tetris_Game/x64/Release/SDL_utils.obj
BTL/Tetris_Game/x64/Release/SDL2_image.dll
BTL/Tetris_Game/x64/Release/SDL2_ttf.dll
BTL/Tetris_Game/x64/Release/SDL2.dll
BTL/Tetris_Game/x64/Release/Tetris_Game.exe
BTL/Tetris_Game/x64/Release/Tetris_Game.exe.recipe
BTL/Tetris_Game/x64/Release/Tetris_Game.iobj
BTL/Tetris_Game/x64/Release/Tetris_Game.ipdb
BTL/Tetris_Game/x64/Release/Tetris_Game.log
BTL/Tetris_Game/x64/Release/Tetris_Game.obj
BTL/Tetris_Game/x64/Release/Tetris_Game.pdb
BTL/Tetris_Game/x64/Release/Tetris_Game.vcxproj.FileListAbsolute.txt
BTL/Tetris_Game/x64/Release/texture.obj
BTL/Tetris_Game/x64/Release/vc143.pdb
BTL/Tetris_Game/x64/Release/zlib1.dll
BTL/Tetris_Game/x64/Release/Tetris_Game.tlog/CL.command.1.tlog
BTL/Tetris_Game/x64/Release/Tetris_Game.tlog/CL.read.1.tlog
BTL/Tetris_Game/x64/Release/Tetris_Game.tlog/CL.write.1.tlog
BTL/Tetris_Game/x64/Release/Tetris_Game.tlog/link.command.1.tlog
BTL/Tetris_Game/x64/Release/Tetris_Game.tlog/link.read.1.tlog
BTL/Tetris_Game/x64/Release/Tetris_Game.tlog/link.write.1.tlog
BTL/Tetris_Game/x64/Release/Tetris_Game.tlog/Tetris_Game.lastbuildstate
BTL/Tetris_Game/x64/Release/Tetris_Game.tlog/Tetris_Game.write.1u.tlog
build/11_clip_rendering_and_sprite_sheets.exe
build/17_mouse_events.exe
build/17_mouse_events.exe
BTL/Tetris_Game/.vs/Tetris_Game/FileContentIndex/3f9e2c65-77ac-4c86-b4d8-f3335fbe646d.vsidx
BTL/Tetris_Game/.vs/Tetris_Game/FileContentIndex/d912df04-5159-4139-a77c-080f081edce8.vsidx
BTL/Tetris_Game/.vs/Tetris_Game/v17/.suo
BTL/Tetris_Game/.vs/Tetris_Game/v17/Browse.VC.db
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/5e8c990188890aab/INPUT.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/b43e040b28914d1/GAME.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/eb8e4091365e10e3/TETRIS_GAME.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/fa7dcb2161a5384f/RENDER.ipch
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.command.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.read.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.write.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/link.read.1.tlog
BTL/Tetris_Game/x64/Debug/Board.obj
BTL/Tetris_Game/x64/Debug/Game.obj
BTL/Tetris_Game/x64/Debug/input.obj
BTL/Tetris_Game/x64/Debug/Piece.obj
BTL/Tetris_Game/x64/Debug/render.obj
BTL/Tetris_Game/x64/Debug/SDL_utils.obj
BTL/Tetris_Game/x64/Debug/Tetris_Game.exe
BTL/Tetris_Game/x64/Debug/Tetris_Game.ilk
BTL/Tetris_Game/x64/Debug/Tetris_Game.log
BTL/Tetris_Game/x64/Debug/Tetris_Game.obj
BTL/Tetris_Game/x64/Debug/Tetris_Game.pdb
BTL/Tetris_Game/x64/Debug/texture.obj
BTL/Tetris_Game/x64/Debug/vc143.idb
BTL/Tetris_Game/x64/Debug/vc143.pdb
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.command.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.read.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.write.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/link.read.1.tlog
11_clip_rendering_and_sprite_sheets/11_clip_rendering_and_sprite_sheets.cpp
11_clip_rendering_and_sprite_sheets/dots.png
11_clip_rendering_and_sprite_sheets/readme.txt
BTL/Tetris_Game/x64/Debug/Board.obj
BTL/Tetris_Game/Tetris_Game.vcxproj
