/02_getting_an_image_on_the_screen
/Accelerated C++ - Andrew Koenig & Barbara E. Moo.pdf
/Cplusplus_2011.pdf
/Programming__Principles_and_Practice_Using C++ (Cpp Cplusplus).pdf
/record
Week3_HangMan_Array_Algo_zoom.mp4
tetris_tutorial_sdl/Board.cpp
tetris_tutorial_sdl/Board.h
tetris_tutorial_sdl/Game.cpp
tetris_tutorial_sdl/Game.h
tetris_tutorial_sdl/IO.cpp
tetris_tutorial_sdl/IO.h
tetris_tutorial_sdl/Main.cpp
tetris_tutorial_sdl/makefile
tetris_tutorial_sdl/Pieces.cpp
tetris_tutorial_sdl/Pieces.h
tetris_tutorial_sdl/readme.txt
tetris_tutorial_sdl/tetris_tutorial_sdl.sln
tetris_tutorial_sdl/tetris_tutorial_sdl.suo
tetris_tutorial_sdl/tetris_tutorial_sdl.vcproj
tetris_tutorial_sdl/tetritutro_sdl.suo
tetris_tutorial_sdl/Release/clean.bat
tetris_tutorial_sdl/Release/SDL.dll
tetris_tutorial_sdl/Release/tetris_tutorial_sdl.exe
tetris_tutorial_sdl/SDL/SDL_GfxPrimitives/SDL_gfxPrimitives_font.h
tetris_tutorial_sdl/SDL/SDL_GfxPrimitives/SDL_GfxPrimitives_Static.lib
tetris_tutorial_sdl/SDL/SDL_GfxPrimitives/sdl_gfxprimitives.h
tetris_tutorial_sdl/SDL/include/begin_code.h
tetris_tutorial_sdl/SDL/include/close_code.h
tetris_tutorial_sdl/SDL/include/SDL_active.h
tetris_tutorial_sdl/SDL/include/SDL_audio.h
tetris_tutorial_sdl/SDL/include/SDL_byteorder.h
tetris_tutorial_sdl/SDL/include/SDL_cdrom.h
tetris_tutorial_sdl/SDL/include/SDL_config_amiga.h
tetris_tutorial_sdl/SDL/include/SDL_config_dreamcast.h
tetris_tutorial_sdl/SDL/include/SDL_config_macos.h
tetris_tutorial_sdl/SDL/include/SDL_config_macosx.h
tetris_tutorial_sdl/SDL/include/SDL_config_minimal.h
tetris_tutorial_sdl/SDL/include/SDL_config_os2.h
tetris_tutorial_sdl/SDL/include/SDL_config_win32.h
tetris_tutorial_sdl/SDL/include/SDL_config.h
tetris_tutorial_sdl/SDL/include/SDL_config.h.default
tetris_tutorial_sdl/SDL/include/SDL_config.h.in
tetris_tutorial_sdl/SDL/include/SDL_copying.h
tetris_tutorial_sdl/SDL/include/SDL_cpuinfo.h
tetris_tutorial_sdl/SDL/include/SDL_endian.h
tetris_tutorial_sdl/SDL/include/SDL_error.h
tetris_tutorial_sdl/SDL/include/SDL_events.h
tetris_tutorial_sdl/SDL/include/SDL_getenv.h
tetris_tutorial_sdl/SDL/include/SDL_image.h
tetris_tutorial_sdl/SDL/include/SDL_joystick.h
tetris_tutorial_sdl/SDL/include/SDL_keyboard.h
tetris_tutorial_sdl/SDL/include/SDL_keysym.h
tetris_tutorial_sdl/SDL/include/SDL_loadso.h
tetris_tutorial_sdl/SDL/include/SDL_main.h
tetris_tutorial_sdl/SDL/include/SDL_mouse.h
tetris_tutorial_sdl/SDL/include/SDL_mutex.h
tetris_tutorial_sdl/SDL/include/SDL_name.h
tetris_tutorial_sdl/SDL/include/SDL_opengl.h
tetris_tutorial_sdl/SDL/include/SDL_platform.h
tetris_tutorial_sdl/SDL/include/SDL_quit.h
tetris_tutorial_sdl/SDL/include/SDL_rwops.h
tetris_tutorial_sdl/SDL/include/SDL_stdinc.h
tetris_tutorial_sdl/SDL/include/SDL_syswm.h
tetris_tutorial_sdl/SDL/include/SDL_thread.h
tetris_tutorial_sdl/SDL/include/SDL_timer.h
tetris_tutorial_sdl/SDL/include/SDL_types.h
tetris_tutorial_sdl/SDL/include/SDL_version.h
tetris_tutorial_sdl/SDL/include/SDL_video.h
tetris_tutorial_sdl/SDL/include/SDL.h
tetris_tutorial_sdl/SDL/lib/SDL.lib
11_clip_rendering_and_sprite_sheets/11_clip_rendering_and_sprite_sheets.cpp
11_clip_rendering_and_sprite_sheets/dots.png
11_clip_rendering_and_sprite_sheets/readme.txt
build/11_clip_rendering_and_sprite_sheets.exe
pixeltetris-main/CMakeLists.txt
pixeltetris-main/LICENSE
pixeltetris-main/README.md
pixeltetris-main/assets/arrow-left.png
pixeltetris-main/assets/arrow-right.png
pixeltetris-main/assets/button-exit.png
pixeltetris-main/assets/button-off-off.png
pixeltetris-main/assets/button-off-on.png
pixeltetris-main/assets/button-ok.png
pixeltetris-main/assets/button-on-off.png
pixeltetris-main/assets/button-on-on.png
pixeltetris-main/assets/button-options.png
pixeltetris-main/assets/button-play.png
pixeltetris-main/assets/button-quit.png
pixeltetris-main/assets/button-resume.png
pixeltetris-main/assets/munro-narrow.ttf
pixeltetris-main/assets/munro-small.ttf
pixeltetris-main/assets/munro.ttf
pixeltetris-main/assets/OFL.txt
pixeltetris-main/assets/paused-frame.png
pixeltetris-main/assets/playfieldFrame.png
pixeltetris-main/assets/tetrominoSprites.png
pixeltetris-main/cmake/Copyright.txt
pixeltetris-main/cmake/FindSDL2_image.cmake
pixeltetris-main/cmake/FindSDL2_ttf.cmake
pixeltetris-main/cmake/FindSDL2.cmake
pixeltetris-main/gallery/gameover.png
pixeltetris-main/gallery/gameplay.gif
pixeltetris-main/gallery/mainmenu.png
pixeltetris-main/gallery/options.png
pixeltetris-main/gallery/pausemenu.png
pixeltetris-main/src/board.cpp
pixeltetris-main/src/board.hpp
pixeltetris-main/src/button.cpp
pixeltetris-main/src/button.hpp
pixeltetris-main/src/config.cpp
pixeltetris-main/src/config.hpp
pixeltetris-main/src/game.cpp
pixeltetris-main/src/game.hpp
pixeltetris-main/src/gamestate.cpp
pixeltetris-main/src/gamestate.hpp
pixeltetris-main/src/inputmanager.cpp
pixeltetris-main/src/inputmanager.hpp
pixeltetris-main/src/main.cpp
pixeltetris-main/src/menustate.cpp
pixeltetris-main/src/menustate.hpp
pixeltetris-main/src/optionsstate.cpp
pixeltetris-main/src/optionsstate.hpp
pixeltetris-main/src/pausedstate.cpp
pixeltetris-main/src/pausedstate.hpp
pixeltetris-main/src/piece.cpp
pixeltetris-main/src/piece.hpp
pixeltetris-main/src/renderer.cpp
pixeltetris-main/src/renderer.hpp
pixeltetris-main/src/state.cpp
pixeltetris-main/src/state.hpp
pixeltetris-main/src/tetromino_matrices.hpp
pixeltetris-main/src/texture.cpp
pixeltetris-main/src/texture.hpp
pixeltetris-main/src/utilities.cpp
pixeltetris-main/src/utilities.hpp
pixeltetris-0.2.0/.gitignore
pixeltetris-0.2.0/CMakeLists.txt
pixeltetris-0.2.0/LICENSE
pixeltetris-0.2.0/README.md
pixeltetris-0.2.0/assets/FiraSans-Regular.ttf
pixeltetris-0.2.0/assets/OFL.txt
pixeltetris-0.2.0/assets/playfieldFrame.png
pixeltetris-0.2.0/assets/tetrominoSprites.png
pixeltetris-0.2.0/cmake/Copyright.txt
pixeltetris-0.2.0/cmake/FindSDL2_image.cmake
pixeltetris-0.2.0/cmake/FindSDL2_ttf.cmake
pixeltetris-0.2.0/cmake/FindSDL2.cmake
pixeltetris-0.2.0/src/board.cpp
pixeltetris-0.2.0/src/board.hpp
pixeltetris-0.2.0/src/config.hpp
pixeltetris-0.2.0/src/gamestate.cpp
pixeltetris-0.2.0/src/gamestate.hpp
pixeltetris-0.2.0/src/init.cpp
pixeltetris-0.2.0/src/init.hpp
pixeltetris-0.2.0/src/inputmanager.cpp
pixeltetris-0.2.0/src/inputmanager.hpp
pixeltetris-0.2.0/src/main.cpp
pixeltetris-0.2.0/src/piece.cpp
pixeltetris-0.2.0/src/piece.hpp
pixeltetris-0.2.0/src/renderer.cpp
pixeltetris-0.2.0/src/renderer.hpp
pixeltetris-0.2.0/src/tetromino_matrices.hpp
pixeltetris-0.2.0/src/texture.cpp
pixeltetris-0.2.0/src/texture.hpp
pixeltetris-0.2.0/src/utilities.cpp
pixeltetris-0.2.0/src/utilities.hpp
BTL/.vs/tetris/v17/Browse.VC.db
BTL/SDL2_image-2.0.5/CHANGES.txt
BTL/SDL2_image-2.0.5/COPYING.txt
BTL/SDL2_image-2.0.5/README.txt
BTL/SDL2_image-2.0.5/include/SDL_image.h
BTL/SDL2_image-2.0.5/lib/x64/libjpeg-9.dll
BTL/SDL2_image-2.0.5/lib/x64/libpng16-16.dll
BTL/SDL2_image-2.0.5/lib/x64/libtiff-5.dll
BTL/SDL2_image-2.0.5/lib/x64/libwebp-7.dll
BTL/SDL2_image-2.0.5/lib/x64/LICENSE.jpeg.txt
BTL/SDL2_image-2.0.5/lib/x64/LICENSE.png.txt
BTL/SDL2_image-2.0.5/lib/x64/LICENSE.tiff.txt
BTL/SDL2_image-2.0.5/lib/x64/LICENSE.webp.txt
BTL/SDL2_image-2.0.5/lib/x64/LICENSE.zlib.txt
BTL/SDL2_image-2.0.5/lib/x64/SDL2_image.dll
BTL/SDL2_image-2.0.5/lib/x64/SDL2_image.lib
BTL/SDL2_image-2.0.5/lib/x64/zlib1.dll
BTL/SDL2_image-2.0.5/lib/x86/libjpeg-9.dll
BTL/SDL2_image-2.0.5/lib/x86/libpng16-16.dll
BTL/SDL2_image-2.0.5/lib/x86/libtiff-5.dll
BTL/SDL2_image-2.0.5/lib/x86/libwebp-7.dll
BTL/SDL2_image-2.0.5/lib/x86/LICENSE.jpeg.txt
BTL/SDL2_image-2.0.5/lib/x86/LICENSE.png.txt
BTL/SDL2_image-2.0.5/lib/x86/LICENSE.tiff.txt
BTL/SDL2_image-2.0.5/lib/x86/LICENSE.webp.txt
BTL/SDL2_image-2.0.5/lib/x86/LICENSE.zlib.txt
BTL/SDL2_image-2.0.5/lib/x86/SDL2_image.dll
BTL/SDL2_image-2.0.5/lib/x86/SDL2_image.lib
BTL/SDL2_image-2.0.5/lib/x86/zlib1.dll
BTL/SDL2_ttf-2.0.18/CHANGES.txt
BTL/SDL2_ttf-2.0.18/COPYING.txt
BTL/SDL2_ttf-2.0.18/README.txt
BTL/SDL2_ttf-2.0.18/include/SDL_ttf.h
BTL/SDL2_ttf-2.0.18/lib/x64/LICENSE.freetype.txt
BTL/SDL2_ttf-2.0.18/lib/x64/LICENSE.harfbuzz.txt
BTL/SDL2_ttf-2.0.18/lib/x64/LICENSE.zlib.txt
BTL/SDL2_ttf-2.0.18/lib/x64/SDL2_ttf.dll
BTL/SDL2_ttf-2.0.18/lib/x64/SDL2_ttf.lib
BTL/SDL2_ttf-2.0.18/lib/x86/LICENSE.freetype.txt
BTL/SDL2_ttf-2.0.18/lib/x86/LICENSE.harfbuzz.txt
BTL/SDL2_ttf-2.0.18/lib/x86/LICENSE.zlib.txt
BTL/SDL2_ttf-2.0.18/lib/x86/SDL2_ttf.dll
BTL/SDL2_ttf-2.0.18/lib/x86/SDL2_ttf.lib
BTL/Tetris_Game/.vs/Tetris_Game/v17/.suo
BTL/Tetris_Game/.vs/Tetris_Game/v17/Browse.VC.db
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/b43e040b28914d1/GAME.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/dd96d0102c5863e7/BOARD.ipch
BTL/Tetris_Game/.vs/Tetris_Game/v17/ipch/AutoPCH/eb8e4091365e10e3/TETRIS_GAME.ipch
BTL/Tetris_Game/x64/Debug/Tetris_Game.exe
BTL/Tetris_Game/x64/Debug/Tetris_Game.ilk
BTL/Tetris_Game/x64/Debug/Tetris_Game.log
BTL/Tetris_Game/x64/Debug/Tetris_Game.obj
BTL/Tetris_Game/x64/Debug/Tetris_Game.pdb
BTL/Tetris_Game/x64/Debug/vc143.idb
BTL/Tetris_Game/x64/Debug/vc143.pdb
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.command.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.read.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/CL.write.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/link.read.1.tlog
BTL/Tetris_Game/x64/Debug/Tetris_Game.tlog/link.write.1.tlog
BTL/Tetris_Game/.vs/Tetris_Game/v17
